[settings]
jobs = 1 # Only run one testcase at a time, let's not stack VMs
experimental = true # Required for now for task_templates


[env]
IDM_URI = { required = "copy mise.local.toml.example to mise.local.toml and configure it" }
SSH_PUBLICKEY = { required = "copy mise.local.toml.example to mise.local.toml and configure it" }
# This monstrosity grabs the first version ref mentioned in the workflow definition.
# It assumes the old stable is mentioned first.
OLDSTABLE_VERSION = '''{{ exec(
  cache_key='kanidm_oldstable_version',
  cache_duration='1d',
  command="awk 'match($0, /ref: v*([0-9]+\.[0-9]+)/, a) {printf a[1];exit}' ../.github/workflows/create-apt-repo.yml")}}'''

# This template sets the basis for all test cases, which extend their unique env on top
[task_templates."testcase"]
run = "scripts/run-all.sh"
[task_templates."testcase".env]
SUCCESS_WAIT = "false"

[tasks.test_all]
depends = ["testcase:*"]
description = "Run the entire target list, pausing to allow testing every permutation"

[tasks.test_shell]
description = "Connect to a running test for manual checks"
run = '''
  ssh -o StrictHostKeyChecking=no \
      -o UserKnownHostsFile=/dev/null \
      -o LogLevel=ERROR \
      localhost -p 2222
  '''

[tasks.test_now]
description = "Connect to a running test and run standard checks"
run = '''
  ssh -o StrictHostKeyChecking=no \
      -o UserKnownHostsFile=/dev/null \
      -o LogLevel=ERROR \
      -o PasswordAuthentication=no \
      -o BatchMode=yes \
      localhost -p 2222 \
    "source /etc/test_env && \
    source /etc/os-release && \
    echo \"TEST_ID=\${TEST_ID}\" && \
    getent passwd \$USER && \
    kanidm login -D anonymous && \
    kanidm version && \
    /sbin/kanidm_unixd --version"
  '''

[tasks.debug]
description = "Connect to a running test as root bypassing Kanidm auth"
run = '''
  ssh -o StrictHostKeyChecking=no \
      -o UserKnownHostsFile=/dev/null \
      root@localhost -p 2222 -i ssh_ed25519
'''

# Test cases begin

[tasks."testcase:1e:stable:ext"]
extends = "testcase"
env = { CATEGORY = "stable" }

[tasks."testcase:1s:stable:self"]
extends = "testcase"
env = { CATEGORY = "stable", IDM_URI = "local" }

[tasks."testcase:2e:oldstable-upgrade:ext"]
extends = "testcase"
env = { CATEGORY = "stable", KANIDM_VERSION = "{{env.OLDSTABLE_VERSION}}", KANIDM_UPGRADE = "true" }

[tasks."testcase:2s:oldstable-upgrade:self"]
extends = "testcase"
env = { CATEGORY = "stable", IDM_URI = "local", KANIDM_VERSION = "{{env.OLDSTABLE_VERSION}}", KANIDM_UPGRADE = "true" }

[tasks."testcase:3e:nightly:ext"]
extends = "testcase"
env = { CATEGORY = "nightly" }

[tasks."testcase:3s:nightly:self"]
env = { CATEGORY = "nightly", IDM_URI = "local" }

[tasks."testcase:4e:oldstable:ext"]
extends = "testcase"
env = { CATEGORY = "stable", KANIDM_VERSION = "{{env.OLDSTABLE_VERSION}}" }

[tasks."testcase:4s:oldstable:self"]
extends = "testcase"
env = { CATEGORY = "stable", IDM_URI = "local", KANIDM_VERSION = "{{env.OLDSTABLE_VERSION}}" }

# Test cases end

# A somewhat opinionated way of bulk running test_all that's proven reliable.
[tasks.test_loop]
description = "Run test_now in a loop, moving to the next case on success"
run = '''
#!/bin/zsh
function prog(){ while true; do echo -n .; sleep 1; done | pv -s "$1" -S -F "%t %p" > /dev/null }

while [[ $? -eq 0 ]]; do
  mise run test_now && ( kill $(pgrep -f "./test_payload.sh") ; prog 120 ) || prog 60
done
'''

# Generate fancy tables into your PRs. :-)
[tasks.mktable]
description = "Create a table to record test results, --checked to pre-check"
quiet = true
usage = 'flag "--checked" help="Whether to pre-check all boxes"'
tools."github:keyneston/mktable" = "v0.0.5"
run = '''
  echo "### Test results\n"
  stable_targets="$(grep -E 'targets[\+]{0,1}=\(' scripts/run-all.sh \
    | grep -v @ \
  | cut -d \( -f 2 | tr -d \) \
  | xargs)"

  nightly_targets="$(grep -E 'targets=\(' scripts/run-all.sh \
    | grep -v @ \
  | cut -d \( -f 2 | tr -d \) \
  | xargs)"

  cat << EOT
- Tests flagged as \`ext\` are against an external container run current stable kanidmd.
- Tests flagged as \`self\` are against an internal PPA installed kanidmd of the same version.
- Distro targets for \`stable\`: \`${stable_targets}\`
- Distro targets for \`nightly\`: \`${nightly_targets}\`

EOT

  if [ "$usage_checked" != "true" ]; then
    check=" "
  else
    check="x"
  fi

  (
    echo "TEST_ID\tx86_64\taarch64"; \
    mise run -n test_all 2>&1 \
      | grep -v Finished \
      | tr -d \[\] \
      | awk \
        -v check="$check" \
        '{ print $1"\t<ul><li> [" check "] </li></ul>\t<ul><li> [" check "] </li></ul>" }'
  ) | mktable
'''
