[env]
IDM_URI = { required = "copy mise.local.toml.example to mise.local.toml and configure it" }
SSH_PUBLICKEY = { required = "copy mise.local.toml.example to mise.local.toml and configure it" }

[settings]
jobs = 1

[tasks.test_all]
depends = ["testcase:*"]
description = "Run the entire target list, pausing to allow testing every permutation"

[tasks.test_shell]
description = "Connect to a running test with for manual checks"
run = '''
  ssh -o StrictHostKeyChecking=no \
      -o UserKnownHostsFile=/dev/null \
      -o LogLevel=ERROR \
      localhost -p 2222
  '''

[tasks.test_now]
description = "Connect to a running test and run standard checks"
run = '''
  ssh -o StrictHostKeyChecking=no \
      -o UserKnownHostsFile=/dev/null \
      -o LogLevel=ERROR \
      -o PasswordAuthentication=no \
      -o BatchMode=yes \
      localhost -p 2222 \
    "source /etc/test_env && \
    source /etc/os-release && \
    echo \"TEST_ID=\${TEST_ID}\" && \
    getent passwd \$USER && \
    kanidm login -D anonymous && \
    kanidm version && \
    /sbin/kanidm_unixd --version"
  '''

[tasks.debug]
description = "Connect to a running test as root bypassing Kanidm auth"
run = '''
  ssh -o StrictHostKeyChecking=no \
      -o UserKnownHostsFile=/dev/null \
      root@localhost -p 2222 -i ssh_ed25519
'''

[tasks."testcase:stable:ext"]
run = "scripts/run-all.sh"
[tasks."testcase:stable:ext".env]
SUCCESS_WAIT = "false"
CATEGORY = "stable"

[tasks."testcase:stable:self"]
run = "scripts/run-all.sh"
[tasks."testcase:stable:self".env]
SUCCESS_WAIT = "false"
CATEGORY = "stable"
IDM_URI = "local"

[tasks."testcase:nightly:ext"]
run = "scripts/run-all.sh"
[tasks."testcase:nightly:ext".env]
SUCCESS_WAIT = "false"
CATEGORY = "nightly"

[tasks."testcase:nightly:self"]
run = "scripts/run-all.sh"
[tasks."testcase:nightly:self".env]
SUCCESS_WAIT = "false"
CATEGORY = "nightly"
IDM_URI = "local"

[tasks."testcase:oldstable:ext"]
run = "scripts/run-all.sh"
[tasks."testcase:oldstable:ext".env]
SUCCESS_WAIT = "false"
CATEGORY = "stable"
KANIDM_VERSION = "1.8"

[tasks."testcase:oldstable:self"]
run = "scripts/run-all.sh"
[tasks."testcase:oldstable:self".env]
SUCCESS_WAIT = "false"
CATEGORY = "stable"
KANIDM_VERSION = "1.8"
IDM_URI = "local"

[tasks."testcase:oldstable-upgrade:ext"]
run = "scripts/run-all.sh"
[tasks."testcase:oldstable-upgrade:ext".env]
SUCCESS_WAIT = "false"
CATEGORY = "stable"
KANIDM_VERSION = "1.8"
KANIDM_UPGRADE = "true"

[tasks."testcase:oldstable-upgrade:self"]
run = "scripts/run-all.sh"
[tasks."testcase:oldstable-upgrade:self".env]
SUCCESS_WAIT = "false"
CATEGORY = "stable"
KANIDM_VERSION = "1.8"
KANIDM_UPGRADE = "true"
IDM_URI = "local"
