[env]
IDM_URI = { required = "copy mise.local.toml.example to mise.local.toml and configure it" }
SSH_PUBLICKEY = { required = "copy mise.local.toml.example to mise.local.toml and configure it" }

[settings]
jobs = 1

[tasks.test_all]
depends = ["test:*"]

[tasks.test_now]
run = 'ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null localhost -p 2222 "uname -a && cat /etc/os-release && kanidm login -D anonymous && kanidm self whoami && kanidm version"'

[tasks.debug]
run = 'ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null root@localhost -p 2222 -i ssh_ed25519'

[tasks."test:stable:ext"]
run = "scripts/run-all.sh"
[tasks."test:stable:ext".env]
SUCCESS_WAIT = "false"
CATEGORY = "stable"

[tasks."test:stable:self"]
run = "scripts/run-all.sh"
[tasks."test:stable:self".env]
SUCCESS_WAIT = "false"
CATEGORY = "stable"
IDM_URI = "local"

[tasks."test:nightly:ext"]
run = "scripts/run-all.sh"
[tasks."test:nightly:ext".env]
SUCCESS_WAIT = "false"
CATEGORY = "nightly"

[tasks."test:nightly:self"]
run = "scripts/run-all.sh"
[tasks."test:nightly:self".env]
SUCCESS_WAIT = "false"
CATEGORY = "nightly"
IDM_URI = "local"

[tasks."test:oldstable:ext"]
run = "scripts/run-all.sh"
[tasks."test:oldstable:ext".env]
SUCCESS_WAIT = "false"
CATEGORY = "stable"
KANIDM_VERSION = "1.7"

[tasks."test:oldstable:self"]
run = "scripts/run-all.sh"
[tasks."test:oldstable:self".env]
SUCCESS_WAIT = "false"
CATEGORY = "stable"
KANIDM_VERSION = "1.7"
IDM_URI = "local"

[tasks."test:oldstable-upgrade:ext"]
run = "scripts/run-all.sh"
[tasks."test:oldstable-upgrade:ext".env]
SUCCESS_WAIT = "false"
CATEGORY = "stable"
KANIDM_VERSION = "1.7"
KANIDM_UPGRADE = "true"

[tasks."test:oldstable-upgrade:self"]
run = "scripts/run-all.sh"
[tasks."test:oldstable-upgrade:self".env]
SUCCESS_WAIT = "false"
CATEGORY = "stable"
KANIDM_VERSION = "1.7"
KANIDM_UPGRADE = "true"
IDM_URI = "local"
